.line-0 {
	overflow: hidden;
	white-space: nowrap;
}
.line-0-s {
	border-right: 2px solid rgba(255, 255, 255, 0.75);
}
.line-0-e {
	border-right: none;
}

.anim-typewriter-0 {
	animation: typewriter-0 3s steps(28) 1s 1 normal both,
		blinkTextCursor 500ms steps(28) infinite normal;
}

@keyframes typewriter-0 {
	from {
		width: 0;
	}
	to {
		width: 28ch;
	}
}
